<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg 
            format-blue dark:format-invert">
            <section class="not-format">
                @for (comment of comments; track comment.id) {
                <app-comment [comment]="comment" />
                }
            </section>
        </article>
    </div>
</main>