<main class="h-screen flex items-center justify-center">
  <section>
    <h1 class="text-3xl">Comments (2)</h1>
    <section class="bg-gray-100 p-10 rounded max-w-xl">
      <p>
        {{ date | date:'fullDate' }}
      </p>
      <p>
        {{ "Hola Este es Mi EJEMPLO" | uppercase }}
      </p>
      <p>
        {{ "Hola Este es Mi EJEMPLO" | lowercase }}
      </p>
      <p>{{ 523.7685 | currency:'EUR':'symbol':'5.1-3' }}</p>
      <p>{{ 1723.76854345 | number:'7.1-6' }}</p>
    </section>
  </section>
</main>